body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    font-weight: bold;
    color: #343a40;
  }
  
  .card {
    margin: 20px auto;
    border-radius: 10px;
    border: none;
  }
  
  .card-stats {
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .card-stats:hover {
    transform: scale(1.05);
  }
  
  .card-number {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
  }
  
  select.form-select {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
  }
  